pandas==1.0.5
numpy==1.19.2
scipy==1.5.3 
matplotlib
seaborn==0.10.1
plotly>=4.4.1
IPython
joblib
pyod
scikit-learn==0.22.2
ipywidgets
yellowbrick>=1.0.1
lightgbm>=2.3.1
textblob
cufflinks>=0.17.0
umap-learn
pyLDAvis
mlxtend
kmodes>=0.10.1
datefinder>=0.7.0
imbalanced-learn>=0.6.2
streamlit==0.62.0
missingno==0.4.2