pandas
numpy>=1.17
seaborn
matplotlib
IPython
joblib
scikit-learn>=0.23 
ipywidgets
yellowbrick>=1.0.1
xgboost>=0.90
lightgbm>=2.3.1
plotly>=4.4.1
wordcloud
textblob
cufflinks>=0.17.0
umap-learn
pyLDAvis
gensim
mlxtend
pyod
catboost>=0.23.2
kmodes>=0.10.1
datefinder>=0.7.0
imbalanced-learn>=0.6.2
streamlit==0.62.0
missingno==0.4.2